@font-face {
    font-family: sanfrancisco;
    src: url('/resources/fonts/sf_bold.otf');
}

@font-face {
    font-family: sf_normal;
    src: url('/resources/fonts/sanfrancisco.otf');
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --background-color: #d4d4d3;
    --dark-color: #2E383F;
    --middle-color: #0474BA;
    --highlight-one: #F9A828;
    --other-one: #547980;

    --grid-one: #2E383F40;
    --grid-two: #2E383F60;
    --grid-three: #2E383F80;

    font-family: sanfrancisco;
    margin: 0;
}

h2 {
    font-size: xx-large;
    color: var(--highlight-one);
}

hr {
    display: inline-block;
    padding-top: 2px;
    border: none;
    width: 40%;
    background-color: var(--middle-color);
}

a {
    text-decoration: none;
}

.bolded {
    font-family: sanfrancisco;
}

#wrapper {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1% 0;
}

main {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

/* THREE.JS */
#bg {
    position: fixed;
    top: 0;
    left: 0;
}

/* FOR NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 80px;
}

.menu a {
    margin: 20px;
}

.navbar a {
    color: var(--dark-color);
    font-size: large;
}

.navbar a:hover {
    color: var(--highlight-one);
}

.switch {
    position: fixed;
    display: inline-block;
    right: 1%;
    bottom: 1%;
    width: 75px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    text-align: center;
    content: "🌙";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    content: "🌞";
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

/* TITLE */
.title {
    margin-left: 18%;
    margin-top: 150px;
}

.title h1 {
    margin: 0;
    font-family: sanfrancisco;
}

.greeting {
    color: var(--dark-color);
    margin-left: 6px;
    margin-bottom: 0px;
    font-size: 18px;
}

.name {
    font-size: 80px;
    color: var(--highlight-one);
}

.short {
    font-size: 80px;
    color: var(--middle-color);
}

.description {
    color: var(--dark-color);
    width: 50%;
    margin-left: 6px;
    font-family: sf_normal;
}

.contact_me {
    font-family: sanfrancisco;
    background-color: transparent;
    border: 2px solid var(--highlight-one);
    border-radius: 5px;
    color: var(--highlight-one);
    padding: 15px 32px;
    text-align: center;
    margin-left: 6px;
}

.contact_me:hover {
    background-color: #fb850010;
}

/* FOR ABOUT */
.about {
    margin-top: 330px;
}


.about-wrapper {
    color: var(--dark-color);
    display: flex;
    gap: 10%;
}

.about-desc {
    font-family: sf_normal;
    flex: 0 0 50%;
    justify-content: flex-start;
    font-size: large;
}

.about-wrapper span {
    color: var(--highlight-one);
}

.about-desc a {
    color: var(--highlight-one);
}

.me {
    position: relative;
}

.me img.pixel {
    opacity: 1;
    transition: opacity 1s;
    width: 200px;
}

.me img.pfp {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    opacity: 0;
    transition: opacity 1s;
}

.me:hover img.pfp {
    opacity: 1;
}

.me:hover img.pixel {
    opacity: 0;
}

/* SKILLS SECTION */

.container {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(3, 120px);
    gap: 5px;
}

.container .languages {
    background: var(--grid-one);
}

.container .technologies {
    background: var(--grid-two);
}

.container .software {
    background: var(--grid-three);
}

.container span {
    font-size: large;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--dark-color);
}

.languages:hover span {
    display: block;
}

.languages:hover img {
    display: none;
}

.languages span {
    display: none;
}

.technologies:hover span {
    display: block;
}

.technologies:hover img {
    display: none;
}

.software span {
    display: none;
}

.software:hover span {
    display: block;
}

.software:hover img {
    display: none;
}

.technologies span {
    display: none;
}

.container img {
    width: 80%
}

/* PROJECTS SECTION */
.projects {
    margin-top: 250px;
}

.projects-list {
    margin: 0;
    padding: 0;
}

.proj {
    padding-bottom: 150px;
    display: grid;
    gap: 10px;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
}

.proj > * {
    grid-area: proj;
}

.project-image{
    grid-column: 2 / span 6;
}

.project-image img{
    width: 100%;
}

.project-content {
    grid-column: 7 / span 5;
    text-align: right;
}

.project-over {
    font-size: small;
    color: var(--middle-color)
}

.project-title a {
    font-size: xx-large;
    color: var(--highlight-one);
}

.project-description {
    font-size: large;
    font-family: sf_normal;
    color: #d4d4d3;
    padding: 0.5% 5% 2% 2%;
    border-radius: 5px;
    background-color: #4e5f6b;
}

.project-tech {
    margin-right: 5px;
    text-align: right;
    list-style: none;
}

.project-tech li {
    padding: 10px 5px;
    font-size: x-small;
    color: var(--highlight-one);
    display:inline;
}
.project-links {
    margin-top: 3%;
}

.project-links img {
    width: 4%;
    margin-left: 2%;
}

img.youtube {
    width: 6%;
}

/* Aligned Right */
.proj-other {
    padding-bottom: 150px;
    display: grid;
    gap: 10px;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
}

.proj-other > * {
    grid-area: proj;
}

.proj-other .project-image{
    grid-column: 6 / span 6;
}

.proj-other .project-tech {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.proj-other .project-links img {
    width: 4%;
    margin-left: 0;
    margin-right: 2%;
}

.project-image img{
    width: 100%;
}

.proj-other .project-content {
    grid-column: 2 / span 5;
    text-align: left;
}

/* MEDIA RESIZING */
/* If less than 1400 */

@media only screen and (max-width: 1700px) {
    .container {
        grid-template-columns: repeat(9, 100px);
        grid-template-rows: repeat(5, 120px);
    }
}

@media only screen and (max-width: 1550px) {
    .container {
        grid-template-columns: repeat(8, 100px);
        grid-template-rows: repeat(5, 120px);
    }
}

@media only screen and (max-width: 1400px) {
    .description {
        width: 60%;
    }

    .container {
        grid-template-columns: repeat(7, 100px);
        grid-template-rows: repeat(5, 120px);
    }
}

@media only screen and (max-width: 1200px) {
    .description {
        width: 70%;
    }

    .project-image {
        display: none;
    }

    .project-content {
        grid-column: 3 / span 8;
    }

    .proj-other .project-image {
        display: none;
    }

    .proj-other .project-content {
        grid-column: 3 / span 8;
    }

    .container {
        grid-template-columns: repeat(6, 100px);
        grid-template-rows: repeat(5, 120px);
    }
}

@media only screen and (max-width: 1000px) {
    .description {
        width: 80%;
    }

    .container {
        grid-template-columns: repeat(5, 100px);
        grid-template-rows: repeat(6, 120px);
    }
}

@media only screen and (max-width: 800px) {
    .container {
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(7, 120px);
    }
}

@media only screen and (max-width: 650px) {
    .container {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(15, 120px);
    }
}

@media only screen and (max-width: 540px) {
    .container {
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(15, 120px);
    }

    .navbar img {
        padding-top: 20%
    }

    .title {
        margin-top: 60px;
    }

    .menu {
        display: none;
    }

    .navbar a {
        font-size: 15px;
    }

    .description {
        width: 90%;
    }

    .short {
        font-size: 60px;
    }

    .me {
        display: none;
    }

    .about-desc {
        flex: 0 0 100%;
    }
}



