@font-face {
    font-family: sanfrancisco;
    src: url('/resources/fonts/sf_bold.otf');
}

@font-face {
    font-family: sf_normal;
    src: url('/resources/fonts/sanfrancisco.otf');
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --background-color: #ecede8;
    --dark-color: #2E383F;
    --middle-color: #0474BA;
    --highlight-one: #F9A828;

    font-family: sanfrancisco;
    margin: 0;
}

h2 {
    font-size: xx-large;
    color: var(--highlight-one);
}

hr {
    display: inline-block;
    padding-top: 2px;
    border: none;
    width: 40%;
    background-color: var(--middle-color);
}

a {
    text-decoration: none;
}

.bolded {
    font-family: sanfrancisco;
}

#wrapper {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1% 0;
}

main {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

/* THREE.JS */
#bg {
    position: fixed;
    top: 0;
    left: 0;
}

/* FOR NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 80px;
}

.menu span {
    margin: 20px;
    color: var(--dark-color);
    font-size: large;
}

.menu span:hover {
    color: var(--highlight-one);
}

.switch {
    position: fixed;
    display: inline-block;
    right: 1%;
    bottom: 1%;
    width: 75px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    border-radius: 50%;
    position: absolute;
    text-align: center;
    content: url('resources/icons/moon.svg');
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    content: url('resources/icons/sun.svg');
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
}

/* TITLE */
.title {
    margin-left: 18%;
    margin-top: 150px;
}

.title h1 {
    margin: 0;
    font-family: sanfrancisco;
}

.greeting {
    color: var(--dark-color);
    margin-left: 6px;
    margin-bottom: 0px;
    font-size: 18px;
}

.name {
    font-size: 80px;
    color: var(--highlight-one);
}

.short {
    font-size: 80px;
    color: var(--middle-color);
}

.description {
    color: var(--dark-color);
    width: 50%;
    margin-left: 6px;
    font-family: sf_normal;
}

.contact_me {
    font-family: sanfrancisco;
    background-color: transparent;
    border: 2px solid var(--highlight-one);
    border-radius: 5px;
    color: var(--highlight-one);
    padding: 15px 32px;
    margin-top: 40px;
    text-align: center;
    margin-left: 6px;
}

.contact_me:hover {
    background-color: #fb850010;
}

/* FOR SCROLL */
.scroll-down {
    position: fixed;
    bottom: 80px;
    left: 2%;
    line-height: 1;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
    color: var(--middle-color);
}

.scroll-down:after {
    content: "";
    width: 2px;
    height: 64px;
    background-color: var(--middle-color);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -80px;
}

/* FOR ABOUT */
.about {
    margin-top: 330px;
}


.about-wrapper {
    position: relative;
    color: var(--dark-color);
    display: flex;
    align-items: center;
    gap: 3%;
    font-family: sf_normal;
    font-size: large;
}

.about-desc {
    flex: 0 0 50%;
    justify-content: flex-start;

}

.about-wrapper span {
    color: var(--highlight-one);
}

.about-desc a {
    color: var(--highlight-one);
}

.me {
    position: relative;
}

.me img.pixel {
    opacity: 1;
    transition: opacity 1s;
    width: 200px;
}

.me img.pfp {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    opacity: 0;
    transition: opacity 1s;
}

.me:hover img.pfp {
    opacity: 1;
}

.me:hover img.pixel {
    opacity: 0;
}

#more-button {
    margin-left: 0;
    width: 5%;
    margin-bottom: 20px;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

/* I AM */

.iam li {
    padding: 0;
    margin: 0 0 5px;
    font-family: sf_normal;
}

.iam h3 {
    color: var(--highlight-one);
}

.iam ul {
    list-style: none;
}

.iam ul li::before {
    content: "\21AA";

    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    padding-right: 5px;
}

.iam li a {
    color: var(--dark-color);
}

.iam li a:hover {
    color: var(--middle-color);
}

/* SKILLS SECTION */
.skills {
    margin-left: 7%;
    margin-top: 200px;
}

.container {

    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(3, 120px);
    gap: 5px;
}

.container .languages {
    background: var(--dark-color);
}

.container .technologies {
    background: var(--dark-color);
}

.container .software {
    background: var(--dark-color);
}

.container span {
    border-radius: 5px;
    font-size: large;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--background-color);
}

.languages:hover span {
    display: block;
}

.languages:hover img {
    display: none;
}

.languages span {
    display: none;
}

.technologies:hover span {
    display: block;
}

.technologies:hover img {
    display: none;
}

.software span {
    display: none;
}

.software:hover span {
    display: block;
}

.software:hover img {
    display: none;
}

.technologies span {
    display: none;
}

.container img {
    width: 80%
}

/* PROJECTS SECTION */
.projects {
    margin-top: 200px;
}

.projects-list {
    margin: 0;
    padding: 0;
}

.proj {
    padding-bottom: 150px;
    display: grid;
    gap: 10px;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
}

.proj > * {
    grid-area: proj;
}

.project-image {
    grid-column: 2 / span 6;
}

.project-image img {
    width: 100%;
}

.project-content {
    z-index: 1;
    grid-column: 7 / span 5;
    text-align: right;
}

.project-over {
    font-size: small;
    color: var(--middle-color)
}

.project-title a {
    font-size: xx-large;
    color: var(--highlight-one);
}

.project-description {
    font-size: large;
    font-family: sf_normal;
    color: var(--background-color);
    padding: 0.5% 5% 2% 2%;
    border-radius: 5px;
    background-color: var(--dark-color);
}

.project-tech {
    margin-right: 5px;
    text-align: right;
    list-style: none;
}

.project-tech li {
    padding: 10px 5px;
    font-size: x-small;
    color: var(--highlight-one);
    display: inline;
}

.project-links {
    margin-top: 3%;
}

.project-links img {
    width: 4%;
    margin-left: 2%;
}

img.youtube {
    width: 6%;
}

/* INVOLVEMENT */
.involvement {
    margin-left: 7%;
    padding-bottom: 200px;
}


/* OTHER PROJECTS */
.proj-other {
    padding-bottom: 150px;
    display: grid;
    gap: 10px;
    place-items: center;
    place-content: center;
    grid-template-columns: repeat(12, 1fr);
}

.proj-other > * {
    grid-area: proj;
}

.proj-other .project-image {
    grid-column: 6 / span 6;
}

.proj-other .project-tech {
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
}

.proj-other .project-links img {
    width: 4%;
    margin-left: 0;
    margin-right: 2%;
}

.project-image img {
    width: 100%;
}

.proj-other .project-content {
    grid-column: 2 / span 5;
    text-align: left;
}

/* OTHER SECTION */
.other {
    margin-top: 100px;
    margin-bottom: 100px;
}

.other p.disclaimer {
    color: var(--dark-color);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 1.5%;
    row-gap: 6%;
}

.other-project {
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    background-color: var(--dark-color);
}

.other-link {
    text-align: left;
}

.other-desc .highlight-other {
    color: var(--highlight-one);
}

.other-link img {
    padding-top: 5%;
    padding-right: 1%;
}

.other-gh img {
    padding-bottom: 2px;
    width: 25px;
    padding-right: 1%;
}

.other-desc {
    padding-top: 10px;
    text-align: center;
}

.other-project h4 {
    padding: 0;
    margin: 0;
    font-size: large;
    color: var(--highlight-one);
}

.other-project p {
    font-family: sf_normal;
    color: var(--background-color);
    font-size: small;
}

.other-desc ul {
    margin: 0;
    padding: 0 0 4%;

}

.other-desc li {
    color: var(--middle-color);
    padding: 2%;
    font-size: x-small;
    display: inline-block;
}

/*  CONTACT INFO */
.contact {
    width: 50%;
    text-align: center;
    margin: 250px auto;
}

.contact p {
    font-family: sf_normal;
    color: var(--dark-color);
}

/* SOCIALS */
.socials {
    padding-top: 30px;
}

.socials img {
    width: 30px;
}

.socials ul {
    margin: 0;
    padding: 0;
}

.socials li {
    display: inline-block;
    padding: 10px;
    list-style-type: none;
}


/* BUILT BY */
.built {
    text-align: center;
    padding-bottom: 10px;
}

.built a {
    font-family: sf_normal;
    color: var(--middle-color);
}

/* MEDIA RESIZING */
@media only screen and (max-width: 1550px) {
    .container {
        grid-template-columns: repeat(6, 100px);
        grid-template-rows: repeat(4, 120px);
    }
}

@media only screen and (max-width: 1400px) {
    .description {
        width: 60%;
    }
}

@media only screen and (max-width: 1200px) {

    .iam {
        display: none;
    }

    .about-wrapper {
        gap: 10%;
    }

    .description {
        width: 70%;
    }

    .project-content {
        grid-column: 3 / span 8;
    }

    .proj-other .project-content {
        grid-column: 2 / span 8;
    }

    .project-image {
        grid-column: 2 / span 7;
    }

    .proj-other .project-image {
        grid-column: 4 / span 7;
    }

    .project-image img {
        -webkit-filter: blur(2px);
        z-index: -1;
    }

    .proj-other .project-image img {
        -webkit-filter: blur(2px);
        z-index: -1;
    }
}

@media only screen and (max-width: 1000px) {
    .description {
        width: 80%;
    }

    .container {
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(6, 120px);
    }
}

@media only screen and (max-width: 800px) {

    .contact {
        width: 80%;
    }

    .menu {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(8, 120px);
    }

    .proj-other .project-image {
        grid-column: 3 / span 8;
    }

    .project-image {
        grid-column: 3 / span 8;
    }

    .project-links img {
        width: 10%;
    }

    .proj-other .project-links img {
        width: 10%;
        margin-left: 0;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 540px) {

    .container {
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(12, 120px);
    }

    .navbar img {
        padding-top: 20%
    }

    .title {
        margin-top: 60px;
    }

    .navbar a {
        font-size: 15px;
    }

    .description {
        width: 90%;
    }

    .short {
        font-size: 60px;
    }

    .me {
        display: none;
    }

    .about-desc {
        flex: 0 0 100%;
    }
}



